<aside class="app-navbar">
                    <!-- begin sidebar-nav -->
                    <div class="sidebar-nav scrollbar scroll_light">
                        <ul class="metismenu " id="sidebarNav">
                            <li class="nav-static-title">Personal</li>
                            <li>
                                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                                    <i class="nav-icon ti ti-rocket"></i>
                                    <span class="nav-title">Dashboards</span>
                                    <span class="nav-label label label-danger">9</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li> <a href='/home'>Default</a> </li>
                                    <li> <a href='/createShipment'>Create Shipment</a> </li>
                                    <li> <a href='/shippingInfo'>Shipping Info</a> </li>
                                    <li> <a href='/viewSenders'>View Senders</a> </li>
                                    <li> <a href='/viewReceivers'>View Recievers</a> </li>
                                    <li> <a href='/adminRegister'>Create Users</a> </li>
                                    <li  class="nav-static-title"> Administrative </li>
                                    <li > <a href='/parcelMovement'>Parcel Movement</a> </li>
                                    <li> <a href='/paymentMethod'>Create Payment Method</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- end sidebar-nav -->
                </aside>
                <!-- end app-navbar -->
                <!-- begin app-main -->